@charset "UTF-8";



section#conteudo {
    width: 1000px;
    margin: auto; /*centralizado*/
}

iframe#frame-spec{
    width: 380px;
    height: 280px;
    border: none; /*removendo borda*/
    overflow: hidden; /* remover visualizacao do conteudo*/
}

iframe#frame-spec::-webkit-scrollbar {  /*retirando a barra de rolagem */ 
    display: none;
}
